{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light navbar-static-top moodle-has-zindex">
	<div class="container-fluid navbar-nav bg-faded row">
		<div class="col-md-6">
			<a href="https://twitter.com/maisflorence" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/institutoflorencesuperior" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.instagram.com/florence_superior/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/channel/UCjah8X0JjDeIvzXfCDMft2A" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
			|&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>  <span class="texteadtopright"> +55 (98) 3878 2120 </span>

		</div> 
		<div class="col-md-6" btn btn-primary><a href="" class="texteadtop"></a>
		</div>
	</div>
    <div class="container-fluid navbar-nav ">

        <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav"><i class="icon fa fa-bars fa-fw " aria-hidden="true"></i></button>
        </div>

        <a href="{{{ config.wwwroot }}}" >   
            <img class="headerlogo" src="{{webview}}/image/logo.svg" alt="{{sitename}}">
        </a>
		<div class="projectname">NEAD - N&uacute;cleo de Educa&ccedil;&atilde;o a Dist&acirc;ncia - {{fviwdata.template.header.webview}}</div>
        <!-- user_menu -->
        {{{ output.user_menu }}}

        <!-- navbar_plugin_output -->
        {{{ output.navbar_plugin_output }}}

        <!-- search_box -->
        <span class="hidden-md-down">
        {{{ output.search_box }}}
        </span>

        <nav class="nav navbar-nav hidden-md-down">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </nav>
    </div>
	
</header>

