{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
Page footer.
}}

<footer id="page-footer" class="py-3">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        <nav class="nav navbar-nav d-md-none" aria-label="{{#str}}custommenu, admin{{/str}}">
            {{# output.custom_menu_flat }}
            <ul class="list-unstyled pt-3">
                {{> theme_boost/custom_menu_footer }}
            </ul>
            {{/ output.custom_menu_flat }}
        </nav>

        <div class="row my-4">
            <div class="col-3 container-links d-flex flex-column align-items-start">
                <h3 class="title">SOBRE A ESCOLA</h3>

                <a href=#" target="_blank">Catálogo de Cursos</a>
                <a href=#" target="_blank">Catálogo de Programas</a>
                <a href=#" target="_blank">Conheça a Escola</a>
                <a href=#" target="_blank">Adesão Institucional</a>
                <a href=#" target="_blank">Instituições Participantes</a>
                <a href=#" target="_blank">Política de Privacidade</a>
            </div>

            <div class="col-3 container-links d-flex flex-column align-items-start">
                <h3 class="title">UTILIDADES</h3>

                <a href=#" target="_blank">Meus Dados</a>
                <a href=#" target="_blank">Alterar E-mail</a>
                <a href=#" target="_blank">Alterar Senha</a>
                <a href=#" target="_blank">Validação de Documentos</a>
                <a href=#" target="_blank">Perguntas Frequentes</a>
            </div>

            <div class="col-6 ">

                <div class="row d-flex flex-column align-items-end">
                    <div class="col-8 d-flex flex-column align-items-end">
                        <h3 class="title-logo">ENAPRES</h3>

                        <p>Uma solução para a oferta de capacitação a distância no serviço público brasileiro.</p>

                        <div class="social-network my-4">
                            <a href="https://www.youtube.com/mdscomunicacao" target="_blank" class="ml-4">
                                <i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.twitter.com/MinCidadania" target="_blank" class="ml-4">
                                <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.instagram.com/mincidadania" target="_blank" class="ml-4">
                                <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com/MinCidadania" target="_blank" class="ml-4">
                                <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div id="link-go-top">
                            <a class="btn btn-light" role="button" href="#">
                                <img src="{{webview}}/image/up-icon.svg" class="mr-2" />
                                Voltar para o topo
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <nav class="nav navbar-nav d-md-none" aria-label="{{#str}}custommenu, admin{{/str}}">
            {{# output.custom_menu_flat }}
            <ul class="list-unstyled pt-3">
                {{> theme_boost/custom_menu_footer }}
            </ul>
            {{/ output.custom_menu_flat }}
        </nav>

        {{{ output.standard_end_of_body_html }}}


    </div>
</footer>