{{>navbar}}

<nav id="top-bar-header">
    <div class="row">
        <div class="ml-4">
            <div data-region="drawer-toggle">
                <button
                    aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}"
                    aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1"
                    data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">
                    <i class="fa fa-bars" style="color: #3168A6;"></i></span>
                </button>
            </div>
        </div>
        <div class="navbar-custom d-flex flex-wrap align-items-center">
            {{{output.navbar}}}
        </div>
        <div class="d-flex align-items-center ml-auto pr-4">
            
            {{{user.lang}}}

            <ul class="navbar-nav d-none d-md-flex">
                <li class="dropdown nav-item">
                    
                    
                    <a class="dropdown-toggle nav-link" id="drop-down-languages" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" href="#" title="Idioma"
                        aria-controls="drop-down-menu-languages">
                        <img class="mr-2" src="{{webview}}/image/twemoji_flag-for-flag-brazil.png" alt="Português"> Português - Brasil
                    </a>

                    <div class="dropdown-menu" role="menu" id="drop-down-menu-languages"
                        aria-labelledby="drop-down-languages">
                        <a class="dropdown-item" role="menuitem"
                            href="http://18.214.62.38/moodle/3.11.2/admin/settings.php?section=langsettings&amp;lang=en"
                            title="English (en)"><img class="mr-2" src="{{webview}}/image/twemoji_flag-for-flag-usa.png"
                                alt="English"> English (en)</a>
                        <a class="dropdown-item" role="menuitem"
                            href="http://18.214.62.38/moodle/3.11.2/admin/settings.php?section=langsettings&amp;lang=pt_br"
                            title="Português (pt_br)">
                            <img class="mr-2" src="{{webview}}/image/twemoji_flag-for-flag-brazil.png" alt="Português"> Português
                            (pt_br)</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>