#page-content .list-group-item{
	 color: #0a1057;
	 border: none;
	 border-bottom: 2px solid #b7bcde;  
}
#page-content .fa-folder:before {
      color: #99a5f7;
}
#page-content .list-group a:hover {
  color: #dc002cb8;
}

.coursecatnamenote {
    font-size: 12px;
    color: #bbb;
}

/* content */
#topics-accordion .panel-heading{
	background-color: white;
	border-bottom: 1px solid #f7cece;
}   

#topics-accordion .panel-heading a{
	/*color: #9bb2c7; */
	 *color: #222546;
	
}
#topics-accordion .panel-title .a{
	color: #222546!important;
	font-size: 16px;
	text-decoration: none;
}
#topics-accordion .panel-title .topic{
	color: #222546!important;
	font-size: 16px;
}

#topics-accordion .panel-heading .progressinfo{
	text-align: right;
	color: #92622b;
	font-size: 9px;
}

#badiu-courseformat .list-group-item .progressinfo{
	text-align: right;
	color: #a0b3df;
	font-size: 10px;
}
#badiu-courseformat .list-group-topics{
	 margin-left: 30px;
}


#badiu-courseformat .panel-heading .completed{
	color: green!important;
	font-size: 12px;
}

#badiu-courseformat .panel-heading .inprogress{
	color: #e88711!important;
	font-size: 12px;
}
#badiu-courseformat .panel-heading .notstarted{
	color: #74899a!important;
	font-size: 12px;
}

 


#badiu-courseformat .list-group-item .completed{
	color: green!important;
	font-size: 12px;
}

#badiu-courseformat .list-group-item .inprogress{
	color: #e88711!important;
	font-size: 12px;
}
#badiu-courseformat .list-group-item .notstarted{
	color: #74899a!important;
	font-size: 12px;
}
#badiu-courseformat .list-group-item .loked{
	color: #fbb3af!important;
	font-size: 12px;
}

#badiu-courseformat .list-group-item .none{
	color: #af9696!important;
	font-size: 12px;
}

#page .courseheader .progressinfo{
	text-align: right;
	color: #92622b;
	font-size: 14px;
}
 

/* table trilha mreport*/
.thead {
       background-color: #e5e6ec;
}

 /* content hide*/
 
#badiuhidecontent{
	visibility: hidden; 
}
 /* progress */
 
 @-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}


.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #62bb7c;
}

.progress-striped .progress-bar-success{
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
/* custom progress bar */
.progress-bar-success {
    background-color: #9eceacc4;
	color: #4e4e4e;
    text-align: center;
}

 

.card{
	border-radius: 5px;
}
.card-img-top {
    height: 170px;
    width: 100%;
}  

 .card-block .course-title{
	text-align: left;
	color: #222546;
	font-size: 14px;
	/*font-weight: bold;*/
}

 .card-block {
	padding: 0.25rem;
}

 .card-block  a{
	font-size: 13px !important;
}
 .card-block .card-course-access{
	float: right;
 }
 
  .card a {
   color: #758696;
   text-decoration: none;
}  

  .card a {
   color: #273847;
   text-decoration: none;
}
  .card a:hover {  
	color: #818a91;
	text-decoration: none;
  }
   
/* show one card*/
@media screen and (min-width: 0px)  and (max-width: 768px) {
  #coursecardtrail1 { display: block; }  
}

@media not screen and (min-width: 0px)  and (max-width: 768px) {
  #coursecardtrail1 { display: none; }   
} 

@media screen and (min-width: 769px) and (max-width: 1100px) {
  #coursecardtrail2 { display: block; } 
}

@media not screen and (min-width: 769px) and (max-width: 1100px) {
  #coursecardtrail2 { display: none; }   
} 

@media screen and (min-width: 1101px) and (max-width: 1650px) {
  #coursecardtrail3 { display: block; } 
}

@media not screen and (min-width: 1101px) and (max-width: 1650px) {
  #coursecardtrail3 { display: none; }   
}

@media screen and (min-width: 1651px) {
  #coursecardtrail4 { display: block; } 
}

@media not screen and  (min-width: 1651px) {
  #coursecardtrail4 { display: none; }   
}

/*region sidbarcolapse Humberto Lopes*/

#sidepreopen-control{

   background-color: #1e88e5;
    position: fixed;
    right: -10px;
    top: 50%;
    color: #fff;
 /*   width: 40px;*/
  /*  height: 40px;*/
    border-radius: 20px;
    font-size: 38px;
    /*padding: 8px 0 0 4px;*/
    cursor: pointer;
}

#sidepre-blocks{

    float: right;    
    float: right;
    width: 303px;
    background-color: #fff;
    position: fixed;
    top: 70px;
    right: -320px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    z-index: 999;
  /*  right: 0;*/

}

/*.badiu-icon{

  font-size: 30px;
}*/


