{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template core/loginform

Moodle template for the login page.

Context variables required for this template:
* autofocusform: Auto focus on form ?,
* canloginasguest - Is guest login allowed?,
* canloginbyemail - Is login by email allowed?,
* cansignup - Signup allowed?,
* cookieshelpicon - cookies help icon details
* error - Any errors in the form?,
* forgotpasswordurl - Forgot password url,
* hasidentityproviders - Flag, set to true to hide identity providers,
* hasinstructions - Flag, set to true to show instructions,
* identityproviders - List of identiy providers,
* instructions - Instructions,
* instructionsformat - Format of instructions,
* loginurl - Login url,
* rememberusername - Remeber username?,
* signupurl - Signup url,
* cookieshelpiconformatted - Formatted html of cookies help icon,
* errorformatted - Formatted error,
* logourl - Flag, logo url,
* sitename - Name of site.,
* logintoken - Random token to protect login request.,
* maintenance - Maintenance message

Example context (json):
{
"autofocusform": false,
"canloginasguest": "1",
"canloginbyemail": false,
"cansignup": true,
"cookieshelpicon": {
"heading": "Cookies must be enabled in your browser",
"text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
"icon": {
"attributes": [
{
"name": "class",
"value": "iconhelp"
},
{
"name": "alt",
"value": "Help with Cookies must be enabled in your browser"
},
{
"name": "title",
"value": "Help with Cookies must be enabled in your browser"
},
{
"name": "src",
"value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
}
]
},
"linktext": null,
"title": "Help with Cookies must be enabled in your browser",
"url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
"ltr": true
},
"error": "",
"forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
"hasidentityproviders": false,
"hasinstructions": true,
"identityproviders": [],
"instructions": "For full access to this site, you first need to create an account.",
"instructionsformat": "1",
"loginurl": "http://localhost/stable_master/login/index.php",
"rememberusername": true,
"signupurl": "http://localhost/stable_master/login/signup.php",
"cookieshelpiconformatted": "",
"errorformatted": "",
"logourl": false,
"sitename": "Beer & Chips",
"logintoken": "randomstring",
"maintenance": "For full access to this site, you need to login in as an admin."
}
}}

<style>
    /* STYLE BADIU THEME LOGIN */

    #page {
        background-image: url("http://18.214.62.38/moodle/3.11.2/theme/badiumview/factory/webview.php/0/theme/badiu/image/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .badiu-loginform .card {
        max-width: 600px;
        margin-top: 50px;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
        border-radius: 8px !important;
        background-color: #FFF;
        padding: 10px 60px 60px 60px;

        background-image: url("http://18.214.62.38/moodle/3.11.2/theme/badiumview/factory/webview.php/0/theme/badiu/image/bg-card.svg");
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    .badiu-loginform .card-header {
        background-color: #FFF;
        border-bottom: none;
    }

    .badiu-loginform .card-body {
        background-color: #FFF;

    }

    .rememberpass {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px !important;
        color: #404F5A;
    }

    .forgetpass a {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px !important;
        /* Enapres/Azul/Claro */
        color: #207BBD;
    }


    .badiu-loginform .form-control {
        padding: 23px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;

        /* Enapres/Cinza/Claro */
        color: #7D8890;

        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background: #FFFFFF;
        border: 1px solid #C0C9CF;
        border-radius: 6px;
    }

    .badiu-loginform .btn-primary {
        padding: 12px 24px;

        /* Enapres/Azul/Escuro */
        background: #3168A6;
        box-shadow: 2px 4px 8px rgba(20, 46, 82, 0.2);
        border-radius: 8px;

        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .badiu-loginform .btn-secondary {
        padding: 12px 24px;

        /* Enapres/Azul/Escuro */
        background: #6EA3AC;
        box-shadow: 2px 4px 8px rgba(20, 46, 82, 0.2);
        border-radius: 8px;

        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }

    /* STYLE BADIU THEME LOGIN */
</style>

<div class="my-1 my-sm-5"></div>
<div class="badiu-loginform row justify-content-center">
    <div class="col-xl-5 col-sm-8">
        <div class="card">
            <div class="card-block">
                {{#logourl}}
                <h1 class="h2 card-header text-center">
                    <span class="sr-only">{{sitename}}: {{#str}} login {{/str}}</span>
                    <img src="{{logourl}}" class="img-fluid" alt="" />
                </h1>
                {{/logourl}}
                {{^logourl}}
                <h1 class="h2 card-header text-center" aria-label="{{sitename}}: {{#str}} login {{/str}}">{{sitename}}
                </h1>
                {{/logourl}}
                <div class="card-body">
                    {{#cansignup}}
                    <div class="sr-only">
                        <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                    </div>
                    {{/cansignup}}

                    {{#error}}
                    <div class="loginerrors mt-3">
                        <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                        <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
                    </div>
                    {{/error}}

                    <div class="row justify-content-md-center">
                        <div class="col-md-12">
                            <form class="mt-3" action="{{loginurl}}" method="post" id="login">
                                <input id="anchor" type="hidden" name="anchor" value="">
                                <script>document.getElementById('anchor').value = location.hash;</script>
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <div class="form-group">
                                    <label for="username" class="sr-only">
                                        {{^canloginbyemail}}
                                        {{#str}} username {{/str}}
                                        {{/canloginbyemail}}
                                        {{#canloginbyemail}}
                                        {{#str}} usernameemail {{/str}}
                                        {{/canloginbyemail}}
                                    </label>
                                    <input type="text" name="username" id="username" class="form-control"
                                        value="{{username}}"
                                        placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}
                                        autocomplete="username">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                                    <input type="password" name="password" id="password" value="" class="form-control"
                                        placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}
                                        autocomplete="current-password">
                                </div>

                                <div class="d-flex justify-content-between">
                                    {{#rememberusername}}
                                    <div class="rememberpass">
                                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1"
                                            {{#username}}checked="checked" {{/username}} />
                                        <label for="rememberusername">Lembrar usuário</label>
                                    </div>
                                    {{/rememberusername}}

                                    <div class="forgetpass">
                                        <p><a href="{{forgotpasswordurl}}">Esqueci minha senha</a></p>
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap justify-content-between mt-3">
                                    <button type="submit" class="btn btn-primary mb-3" id="loginbtn">
                                        {{#str}}login{{/str}}
                                    </button>
                                </div>
                            </form>

                            <div>
                                {{#hasidentityproviders}}
                                <h2 class="h6 mt-2">{{#str}} potentialidps, auth {{/str}}</h2>
                                <div class="potentialidplist mt-3">
                                    {{#identityproviders}}
                                    <div class="potentialidp">
                                        <a href="{{url}}" title={{#quote}}{{name}}{{/quote}}
                                            class="btn btn-secondary btn-block">
                                            {{#iconurl}}
                                            <img src="{{iconurl}}" alt="" width="24" height="24" />
                                            {{/iconurl}}
                                            {{name}}
                                        </a>
                                    </div>
                                    {{/identityproviders}}
                                </div>
                                {{/hasidentityproviders}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#hasinstructions}}
<div class="row justify-content-center mt-3">
    <div class="col-xl-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>{{#str}}firsttime{{/str}}</h2>
                </div>
                <div>
                    {{{instructions}}}
                    {{#cansignup}}
                    <form class="mt-3" action="{{signupurl}}" method="get" id="signup">
                        <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
                    </form>
                    {{/cansignup}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/hasinstructions}}

{{#maintenance}}
<div class="row justify-content-center mt-3">
    <div class="col-xl-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>{{#str}}sitemaintenance, core_admin{{/str}}</h2>
                </div>
                <div>
                    {{{maintenance}}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/maintenance}}
{{#js}}
{{#error}}
require(['jquery'], function($) {
$('#loginerrormessage').focus();
});
{{/error}}
{{^error}}
{{#autofocusform}}
require(['jquery'], function($) {
if ($('#username').val()) {
$('#password').focus();
} else {
$('#username').focus();
}
});
{{/autofocusform}}
{{/error}}
{{/js}}