.navbar {
    height: 60px;
    max-height: 60px;
    padding: 0 1rem;
}

.bg-theme {
    background-color: #6EA3AC;
}

.custom-menu .nav-link {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    color: #ffffff !important;
    text-align: center;
    display: flex;
    height: 60px;
    align-items: center;
    border-bottom: 4px solid transparent;
}

.custom-menu .nav-link.active,
.custom-menu .nav-link:active,
.custom-menu .nav-link:hover {
    display: flex;
    height: 60px;
    align-items: center;
    color: #ffffff !important;
    border-bottom: 4px solid #9ad1da;
}

.usernav {
    min-width: 302px;
}

@media (max-width: 767.98px) {
    .usernav {
        min-width: auto;
    }
    .usertext {
        display: none;
    }
}

.usernav,
.usernav .nav-item {
    height: 60px;
    display: flex;
    align-items: center;
}

.usernav .usermenu {
    height: 100%;
    display: flex;
    align-items: center;
}

.usernav .usermenu .login,
.usernav .usertext {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #ffffff;
}

.usernav .usermenu .login a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-decoration: underline;
}

.usernav .avatars:before {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 0;
    border-left: 1px solid #c0c9cf;
}

.popover-region .icon {
    font-size: 18px;
    font-weight: 400 !important;
    color: #ffffff !important;
}

.action-menu-trigger .dropdown .dropdown-toggle {
    color: #ffffff;
}

.action-menu-trigger .dropdown .dropdown-toggle::after {
    vertical-align: 0;
}

/* BARRA SECUNDARIA */
#top-bar-header {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1029;
    max-height: 48px;
    background-color: #fff;
    border: 1px solid rgba(192, 201, 207, 0.4);
}

.navbar-custom .breadcrumb .breadcrumb-item a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: underline;
    color: #7d8890;
}
.navbar-custom .breadcrumb .breadcrumb-item:last-child a {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    color: #6EA3AC;
    text-decoration-line: none;
}
.navbar-custom .breadcrumb-item:first-child:before {
    content: ">";
    color: #7d8890;
}
.navbar-custom .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #7d8890;
}

@media (max-width: 767.98px) {
    .navbar-custom .breadcrumb:not(:empty) {
        width: 100%;
        border: none;
        padding: 0.25rem;
        margin-bottom: 0;
    }
}

.navbar-nav .dropdown .nav-link {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 13px;
    color: #404f5a;
}

/* BARRA SECUNDARIA */

/*** DROPDOWN MENU ***/

.dropdown-menu {
    top: 54px;
    border: 1px solid rgba(192, 201, 207, 0.6);
    border-radius: 8px;
}

.dropdown-menu .nav-item .icon {
    color: #6EA3AC !important;
}

.dropdown-item {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 13px;
    color: #404f5a;
}

.dropdown-item i {
    color: #6EA3AC;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #6ea3ac;
}

.dropdown-item:hover i,
.dropdown-item:focus i,
.dropdown-item.active i,
.dropdown-item:active i {
    color: #fff !important;
}

/*** DROPDOWN MENU ***/

/* FOOTER */

#link-go-top .btn.btn-light {
    width: 210px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    background: #ffffff;
    border: 1px solid #6EA3AC;
    box-shadow: 2px 2px 8px rgba(20, 46, 82, 0.1);
    border-radius: 4px;

    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #207bbd;
    opacity: 1;
    transition: all 0.2s;
}

#link-go-top .btn.btn-light:hover {
    opacity: 0.6;
}
#link-go-top .btn-light:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(20, 46, 82, 0.1);
}

#page-footer {
    text-align: center;
    background-color: #6EA3AC;
    color: #ffffff;
    border-top: 4px solid #9ad1da;
}

#page-footer .title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    color: #9ad1da;
}

#page-footer .title-logo {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

#page-footer a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0px;
    text-decoration: none;
}

#page-footer p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #ffffff;
}

.social-network i {
    color: #9ad1da;
}

.social-network i {
    transition: all 0.2s ease-in;
    color: #9ad1da;
}

.social-network i:hover {
    color: #fff;
}
/* FOOTER */

/* MENU LATERAL */
#nav-drawer {
    top: 96px;
    background-color: #f8f8f8;
}

.list-group {
    background: #fff;
    border: 1px solid #e6e9ec;
    border-radius: 8px;
    overflow: hidden;
}
.list-group ul {
    padding: 0 10px !important;
}

.list-group-item {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    color: #404f5a;

    background-color: #fff;
    border: none;
}

.list-group-item.active .media-left i {
    color: #fff;
}

.list-group-item .media-left i {
    color: #6EA3AC;
}

#nav-drawer .list-group li {
    border-bottom: 1px solid #e6edf1;
    margin-bottom: 0;
}

#nav-drawer .list-group li:last-child {
    border-bottom: none;
}

.list-group-item:hover {    
    background-color: transparent;
    color: #6EA3AC;
}

.list-group-item:hover .media-left i {
    background-color: transparent;
    color: #6EA3AC;
}

/* MENU LATERAL */

/* CONTEUDO */
#page {
    margin-top: 100px;
    background-color: #f8f8f8;
}

/* CONTEUDO */
