{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<div id="goto-top-link">
    {{! go to top is sticky to footer so needs to be sibling }}
    <a class="btn btn-light" role="button" href="#">
        {{#pix}} i/up, core, {{#str}} totop, theme_boost {{/str}}{{/pix}}
    </a>
</div>
<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        
        
        <nav class="nav navbar-nav d-md-none" aria-label="{{#str}}custommenu, admin{{/str}}">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>

		<div class="row">
			<div class="col-4">
				<a href="https://www.twitter.com/MinCidadania" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://www.youtube.com/mdscomunicacao" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://www.facebook.com/MinCidadania" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://www.flickr.com/MinCidadania" target="_blank"><i class="fab fa-flickr" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://soundcloud.com/mincidadania" target="_blank"><i class="fab fa-soundcloud" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://www.instagram.com/mincidadania" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				
			</div>
			<div class="col-4"><a href=https://www.gov.br/cidadania/pt-br" target="_blank"> <img src ="{{webview}}/image/nome_ministerio.png" /> </a>  </div>
			<div class="col-4">
				<a href="http://www.acessoainformacao.gov.br" target="_blank"> <img src ="{{webview}}/image/acesso_informacao.png" /> </a> 
				<a href="http://www.brasil.gov.br" target="_blank"> <img src ="{{webview}}/image/logo_patria_amada_brasil.png" /> </a>  
			</div>
			
		</div>
            
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>
