<nav id="top-bar-header">
	<div class="row">
		<div class="col">
			<img src ="{{webview}}/image/govbr.png" />
		</div>
		
		<div class="col float-right">
			<nav id="hmenu-barra-brasil" class="float-right"> 
			<ul class="list-group list-group-horizontal"> 
				<li class="list-item"><a href="http://www.saude.gov.br/coronavirus" style="color:red;font-size:0.85em;">CORONAVÍRUS (COVID-19)</a></li>
				<li class="espacador"></li>
				<li class="list-item"> <a href="http://www.acessoainformacao.gov.br" >Acesso à informação</a> </li>
				<li class="espacador"></li>
				<li class="list-item"> <a href="https://www.gov.br/pt-br/participacao-social/" >Participe</a> </li> 
				<li class="espacador"></li> 
				<li class="list-item"> <a href="http://www4.planalto.gov.br/legislacao/" >Legislação</a> </li>
				<li class="espacador"></li> 
				<li class="list-item"> <a href="#" id="link-orgaos" >Órgãos do Governo</a> </li> 
			</ul>
			</nav>
			
				<nav id="vmenu-barra-brasil" class="float-right"> 
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
					<div class="dropdown-menu float-right" aria-labelledby="navbarDropdownMenuLink">	
						<a class="dropdown-item" href="http://www.saude.gov.br/coronavirus" style="color:red;font-size:0.85em;">CORONAVÍRUS (COVID-19)</a>
						<a class="dropdown-item"  href="http://www.acessoainformacao.gov.br" >Acesso à informação</a>
						<a class="dropdown-item" href="https://www.gov.br/pt-br/participacao-social/" >Participe</a>
						<a class="dropdown-item"  href="http://www4.planalto.gov.br/legislacao/" >Legislação</a>
						<a class="dropdown-item"  href="#" id="link-orgaos" >Órgãos do Governo</a>
					</div>
				</nav>
			
		
		</div>
	</div>
</nav> 
{{>navbar}}  