/* primeira barra do cabecalho */

@media screen and (min-width: 0px)  and (max-width: 1349px) {
  #hmenu-barra-brasil { display:  none; }  
  #vmenu-barra-brasil { display:  block; }  
}

@media screen and (min-width: 1350px){
  #hmenu-barra-brasil { display: block; } 
  #vmenu-barra-brasil { display: none;  }  
}

#top-bar-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1031;	
	max-height: 30px;
}  

#top-bar-header .col {
	background-color: #071d41;
}
#top-bar-header .dropdown-menu{
	background-color: #071d41;
}

#top-bar-header img {
	height: 20px;
}

#top-bar-header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.7em;
    font-family: Raleway,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
	border: 0;
	
}


#top-bar-header  nav ul li.espacador {
    height: 20px;
    width: 1px;
    border-right: 1px solid rgba(151,151,151,0.3);
    margin: 0 7px 0 20px;
}
/* mudar posicao e cor de fundo do layout */
.fixed-top {
       top: 30px;
  }
  
.fixed-top img {
	height: 40px;
}  
#page-header{
	top: 30px;
	position: relative;
	background-color: white;
}

#page-content{
	margin-top: 30px;
	background-color: white;
}

/*---- icones --------------*/

/* cor geral dos icontes*/
.icon { 
	  color: #071d41;

}
/* cor de fundo do menu sanduiche*/
.fixed-top .bg-gray {
	    background-color: white !important;
}

/* padrao de links 	*/
a {
    color: #071d41;
}	

/* --- menu esquerda ---*/

/*mudar cor de fundo do menu*/
#nav-drawer {
	top: 90px;
	background-color: white;
	color: #0000ff94;
}

/* item ativo do menu*/
#nav-drawer .list-group-item.active {
    background-color: #d3dde64d;
	color:#0f6fc5bf

}

/* rodape */ 
#page-footer { 
   text-align: center;
   background-color: white !important; 
   color: #071d41 !important;
   border-top: 4px solid #f8c300;
}

#page-footer a { 
 color: #071d41 !important;
}

#page-footer img {
	height: 30px;
}
/* #f8c300* #f28f00 */

.page-login .card{
	margin-top: 10%;
}

.page-login .card-header {
	background-color: white;
	color: #343a40;
}

.page-login .btn{
	background-color: #343a40;
	color: white;
}

.page-login .d-inline-block{
	visibility: hidden;
}
.page-login .d-inline-block{
	visibility: hidden;
}

