{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}

<!-- start content of head.mustache -->
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
	
	    {{#fviwdata.template.cssurl}}
            <link rel="stylesheet" href="{{fviwdata.template.cssurl}}"  type="text/css"> 
        {{/fviwdata.template.cssurl}}
		
		  <link rel="stylesheet" href="{{fviwdata.config.wwwroot}}/theme/badiumview/font/fontawesome/css/all.min.css"  type="text/css"> 
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- end content of head.mustache --> 

 
<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block">
    {{{ output.standard_top_of_body_html }}}

	{{#fviwdata.template.header.content}}
        {{{fviwdata.template.header.content}}}
    {{/fviwdata.template.header.content}}
    
    {{^fviwdata.template.header.content}}
        {{>theme_boost/navbar}}  
    {{/fviwdata.template.header.content}}
	
   
    {{> theme_boost/nav-drawer }}

    <div id="page" class="container-fluid d-print-block">
		{{#fviwdata.isstudentincoursecontext}}
           <!-- {{> theme_badiumview/infocourse }} -->
			{{{ output.full_header }}}
        {{/fviwdata.isstudentincoursecontext}}

        {{^fviwdata.isstudentincoursecontext}}
            {{{ output.full_header }}}
        {{/fviwdata.isstudentincoursecontext}}       

	  

        <div id="page-content" class="row pb-3 d-print-block">
            <div id="region-main-box" class="col-12">
			
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
					
					{{#fviwdata.isstudentincoursecontext}}
                        {{{ fviwdata.maincontent }}} 
                        <div style="display:none">{{{ output.main_content }}}</div>
                    {{/fviwdata.isstudentincoursecontext}} 
                    {{^fviwdata.isstudentincoursecontext}}
                        {{{ output.main_content }}}
                    {{/fviwdata.isstudentincoursecontext}}
					
                   
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
				 <section data-region="blocks-column" class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
	
	{{#fviwdata.template.footer.content}}
            {{{fviwdata.template.footer.content}}}
        {{/fviwdata.template.footer.content}}
    {{^fviwdata.template.footer.content}}
        {{> theme_boost/footer }}
    {{/fviwdata.template.footer.content}}
   
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});

M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_boost/drawer');
});
{{/js}}
