<div class="contact" >
          <i class="fa fa-link" aria-hidden="true"></i> <a href="http://www.florence.edu.br"  target="_blank">http://www.florence.edu.br</a><br />
         <i class="fa fa-phone" aria-hidden="true"></i>  Central: +55 98 3878 2120 <br />
		 <i class="fa fa-map-marker" aria-hidden="true"></i>  Rua Rio Branco, 216, Centro, São Luís - MA<br />
         <i class="fa fa-envelope-o" aria-hidden="true"></i>  contato@superior.florence.edu.br<br />
       
</div>