<header id="page-header">
<div class="row"><div class="col"> &nbsp;</div></div>
	<div class="row">
		<div class="col-md-8"><h3>{{fviwdata.coursename}}</h3></div>
		<div class="col-md-4 progressinfo">{{fviwdata.courseprogress.progresspercentinfo}}</div>
	</div>
	
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{fviwdata.courseprogress.progresspercentnumber}}" aria-valuemin="0" aria-valuemax="100" style="width:{{fviwdata.courseprogress.progresspercentnumber}}%"> {{fviwdata.courseprogress.progresspercentnumberformat}}% </div>
	</div>

	
</header>