 

<div id="topics-accordion">
	<div class="panel-group">
	{{#fviwdata.topics}}
		<div class="panel panel-default">
			<div class="panel-heading row">
				<div class="col-md-8 panel-title">  <a data-toggle="collapse" href="#collapse{{id}}" class="topic"> <i class="fa fa-list-alt" aria-hidden="true"></i> {{name}}</a></div>
				<div class="col-md-4 progressinfo {{status}}"> {{progresspercentinfo}} <i class="{{statusicon}}" aria-hidden="true"></i></div>
				
			</div>    
			<div id="collapse{{id}}" class="panel-collapse collapse {{showactivities}}"> 
			   <div class="list-group-topics">
				<ul class="list-group">
					{{#activities}}
					
					<li class="list-group-item  row">
						{{#locked}}
							<div class="col-md-8"><img src ="{{urlicon}}">&nbsp;&nbsp;{{name}}</div> 
						{{/locked}}	
						{{^locked}}
							<div class="col-md-8"><a href="{{url}}"><img src ="{{urlicon}}">&nbsp;&nbsp;{{name}} </a></div> 
						{{/locked}}
						<div class="col-md-4 progressinfo {{status}}">
						{{statuslabel}}<i class="{{statusicon}}" aria-hidden="true"></i> 
						</div>
						
					 </li> 
					
					{{/activities}}
				</ul>
			<br /> </div>	
			</div> 
		</div>

	{{/fviwdata.topics}}
	</div> 
	{{^fviwdata.topics}}
		<p>sem regisro</p>
	{{/fviwdata.topics}}
</div>