{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
	
	{{#fviwdata.template.cssurl}}
		<link rel="stylesheet" href="{{fviwdata.template.cssurl}}"  type="text/css"> 
	{{/fviwdata.template.cssurl}}
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="page-login">

    {{{ output.standard_top_of_body_html }}}

	{{#fviwdata.template.header.content}}
		{{{fviwdata.template.header.content}}}
	{{/fviwdata.template.header.content}}
	
    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12" aria-label="{{#str}}content{{/str}}">
                    {{{ output.course_content_header }}}
					
					{{#fviwdata.template.maincontent}}
						{{{fviwdata.template.maincontent}}}
						<div style="display:none">{{{ output.main_content }}}</div>
					{{/fviwdata.template.maincontent}}
	
					{{^fviwdata.template.maincontent}}
						 {{{ output.main_content }}}
					{{/fviwdata.template.maincontent}}
	
                   
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
	{{#fviwdata.template.footer.content}}
				{{{fviwdata.template.footer.content}}}
	{{/fviwdata.template.footer.content}}
	
	{{^fviwdata.template.footer.content}}
		<footer id="page-footer" class="py-3 bg-dark text-light">
         <div class="container">
            <div id="course-footer">{{{ output.course_footer }}}</div>

            {{# output.page_doc_link }}
                <p class="helplink">{{{ output.page_doc_link }}}</p>
            {{/ output.page_doc_link }}

				{{{ output.login_info }}}
				{{{ output.home_link }}}
			 
            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
			
			
    
	
         </div>
		</footer>
	{{/fviwdata.template.footer.content}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
