{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
	
	{{#fviwdata.template.cssurl}}
		<link rel="stylesheet" href="{{fviwdata.template.cssurl}}"  type="text/css">
	{{/fviwdata.template.cssurl}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
	<div id="login-header">
		{{#fviwdata.template.header.content}}
		{{{fviwdata.template.header.content}}}   
	{{/fviwdata.template.header.content}}
	
	{{^fviwdata.template.header.content}}
		{{#fviwdata.template.moodlelastverison}} {{>theme_boost/head}}   {{/fviwdata.template.moodlelastverison}}
		{{^fviwdata.template.moodlelastverison}} {{>theme_boost/header}}   {{/fviwdata.template.moodlelastverison}}
		
	{{/fviwdata.template.header.content}}
	</div>
    <div id="page" class="container-fluid">
        <div id="page-content" class="row">
            <div id="region-main-box">
                <section id="region-main" class="col-xs-12">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
</div>
<footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
		
			{{#fviwdata.template.footer.content}}
				{{{fviwdata.template.footer.content}}} 
			{{/fviwdata.template.footer.content}}
       
      
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
