body {
	 background-color: white;
}

/**button*/

.btn-secondary, .btn-default {
    color:  #222546;
    background-color: white;
    border-color: #bbb; 
}

/* head */
.bg-faded {
    background-color: #222546!important;
	/*border-bottom:  1px solid #ee785c;*/
	 color: white;
}
 
.form-filemanager .bg-faded {
	background-color: #f5f5f5!important;
    color: #1b1919;  
}
 
.file-picker .bg-faded {
	background-color: #f5f5f5!important;
    color: #1b1919;
}
.filemanager .bg-faded {
	background-color: #f5f5f5!important;
    color: #1b1919;
}
.bg-faded a{
 color: white;
}	
.icon {
	  color: #222546;
	  margin-top: 12px;
}

.headerlogo {
    width: 10rem;
	vertical-align: middle;
    border-style: none;
}
.projectname {
  display: inline;
  vertical-align: middle;
  vertical-align: -11px;
  float: center;
}

@media not screen and  (min-width: 900px) {
  .projectname { display: none; }   
}
.texteadtop{
	font-size:  12px;
}
.navbar {
   /* max-height: 70px!important; */
}
.navbar-light {
    background-color: #fff;
    border-bottom: 4px solid #222546;
}
.navbar-light .navbar-brand{
    background-color: white;
} 
.bg-faded .btn {
    padding: 4px 10px !important;
    margin: 2px 10px;
    background: unset;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    transition: all 0.5s;
}
.texteadtopright{
	
	font-size:  12px;
	text-align: right;
}
/* menus shanduiche */
.navbar-nav .btn-secondary {
    color: #222546;
    background-color: white!important;
    border-color: white;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	 color: #222546;
	 border-color: white;
}

.icon .fa {
    color: #222546;
}
.fa-bell:before {
	color: #222546;
}

.fa-comment:before {
    color: #222546;;
}

.navbar {
    max-height: 100px;
}
.navbar-light .navbar-brand{
    color: white;
}
/*text menu user*/
a .usertext{
    color: #222546;
}
.usermenu .login {
    color: white;
}
.usermenu .login a {
    color:  white;

}
.login a:visited  { 
    color:  white;
}

.login a:visited { 
    color:  white;
}


#page-header{
	top: 95px;
	position: relative;
}
#page{
	margin-top: 5px;
}
#page-content{
	margin-top: 95px;
}
/* menu left */
#nav-drawer {
    top: 95px;
	background-color: white;
	 color: #0000ff94;
}

.list-group-item{
	 color: #0a1057;
	 border: none;
	 border-bottom: 2px solid #b7bcde;  
}
.fa-folder:before {
      color: #99a5f7;
}
.list-group a:hover {
  color: #dc002cb8;
}

/*table */
#sgatrilha thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #141a56bd;
    background-color: rgba(255,255,255,.98);
    color: #616180;
}

#sgatrilha td {
    padding: .75rem;
    vertical-align: top;
    /* border-top: 1px solid #f4f4f4; */
    background-color: white;
    border-bottom: 1px solid #b7bcde;
}
#sgatrilha .cell {
    color: #73859f;
    font-size: 13px;
}

#sgatrilha a {
    color: #222546;
    text-decoration: none;

}
#disciplineprocess{
	 font-size: 13px;
	 color: #73859f;
     float: right;
}

/* rodapé */
.bg-dark {
    border-top: 1px solid #ee785c;
    background-color: white;
}

/* content */
#topics-accordion .panel-heading{
	background-color: white;
	border-bottom: 1px solid #f7cece;
}   

#topics-accordion .panel-heading a{
	/*color: #9bb2c7; */
	 *color: #222546;
	
}
#topics-accordion .panel-title .a{
	color: #222546!important;
	font-size: 16px;
	text-decoration: none;
}
#topics-accordion .panel-title .topic{
	color: #222546!important;
	font-size: 16px;
}

#topics-accordion .panel-heading .progressinfo{
	text-align: right;
	color: #92622b;
	font-size: 9px;
}

#topics-accordion .list-group-item .progressinfo{
	text-align: right;
	color: #a0b3df;
	font-size: 10px;
}
#topics-accordion .list-group-topics{
	 margin-left: 30px;
}


#topics-accordion .panel-heading .completed{
	color: green!important;
	font-size: 12px;
}

#topics-accordion .panel-heading .inprogress{
	color: #e88711!important;
	font-size: 12px;
}
#topics-accordion .panel-heading .notstarted{
	color: #74899a!important;
	font-size: 12px;
}

 


#topics-accordion .list-group-item .completed{
	color: green!important;
	font-size: 12px;
}

#topics-accordion .list-group-item .inprogress{
	color: #e88711!important;
	font-size: 12px;
}
#topics-accordion .list-group-item .notstarted{
	color: #74899a!important;
	font-size: 12px;
}
#topics-accordion .list-group-item .loked{
	color: #fbb3af!important;
	font-size: 12px;
}

#topics-accordion .list-group-item .none{
	color: #af9696!important;
	font-size: 12px;
}

#page .courseheader .progressinfo{
	text-align: right;
	color: #92622b;
	font-size: 14px;
}

/* footer*/ 
#page-footer { 
   text-align: center;
}
#page-footer .contact{
	text-align: center;
	color: #222546;
	font-size: 12px;
  
}
#page-footer .contact a{
	color: #222546;
	font-size: 13px;
	text-decoration: none;
}

#page-footer {
	 border-top: 4px solid #222546;
}
#page-footer a {
    color: #222546; 
    text-decoration: none;
}

.bg-inverse {
    color: #222546!important;
    background-color: white!important;
} 

/* login */
.usermenu .login {
    color: #222546;
}
.login a:visited {
     color: #222546;
}
.usermenu {
    margin-top: 12px;
}

.card .login-contact{
	color: #666;
}
#login-header .navbar-nav .btn-secondary {
	visibility: hidden;
}

.btn-primary {
    color: white; 
    background-color: #222546;
    border-color: #ffffff;
}

/* table trilha mreport*/
.thead {
       background-color: #e5e6ec;
}

 /* content hide*/
 
#badiuhidecontent{
	visibility: hidden; 
}
 /* progress */
 
 @-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}


.progress {
  height: 20px;
  #margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar .{
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #62bb7c;
}

.progress-striped .progress-bar-success{
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
/* custom progress bar */
.progress-bar-success {
    background-color: #9eceacc4;
	color: #4e4e4e;
    text-align: center;
}

 
/* */


 .card-img-top {
    height: 170px;
    width: 100%;
}  

 .card-block .course-title{
	text-align: left;
	color: #222546;
	font-size: 14px;
	/*font-weight: bold;*/
}

 .card-block {
	padding: 0.25rem;
}
 .card-block .card-course-access{
	float: right;
 }
 
  .card a {
   color: #758696;
   text-decoration: none;
}  

  .card a {
   color: #273847;
   text-decoration: none;
}
  .card a:hover {  
	color: #818a91;
	text-decoration: none;
  }
   
/* show one card*/
@media screen and (min-width: 0px)  and (max-width: 768px) {
  #coursecardtrail1 { display: block; }  
}

@media not screen and (min-width: 0px)  and (max-width: 768px) {
  #coursecardtrail1 { display: none; }   
} 

@media screen and (min-width: 769px) and (max-width: 1100px) {
  #coursecardtrail2 { display: block; } 
}

@media not screen and (min-width: 769px) and (max-width: 1100px) {
  #coursecardtrail2 { display: none; }   
} 

@media screen and (min-width: 1101px) and (max-width: 1650px) {
  #coursecardtrail3 { display: block; } 
}

@media not screen and (min-width: 1101px) and (max-width: 1650px) {
  #coursecardtrail3 { display: none; }   
}

@media screen and (min-width: 1651px) {
  #coursecardtrail4 { display: block; } 
}

@media not screen and  (min-width: 1651px) {
  #coursecardtrail4 { display: none; }   
}
/* 
#region-main {
	border: 0px; 
}

*/
/*@media (max-width: 800px) {
    .frontpage{
        margin-left: 1px;
		margin-right: 1px;  
    }
}*/
 
/* @media (min-width: 13px) {
    .frontpage{
        margin-left: 10%;
		margin-right: 10%;  
    }
}*/
/*
 @media (min-width: 2048px) {
    .frontpage{
        margin-left: 25%;
		margin-right: 25%;  
    }
}
*/
